.Home{
  background-image: URL('./pictures/Absayla.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow:scroll;
}

.Center{
  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-rows: 20vh 80vh;
}

.grid-center{
  grid-column: 2;
  grid-row: 2;
}

.grid-full{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}
.home-title{
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  color: white;
  text-shadow: -1px 1px 5px black;
}

.home-title h1 {
  font-size: 14vw;
}

.home-title h3 {
  font-size: 5vw;
}

.hr { 
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  margin-bottom: 2vh;
}

.hr-two{
  margin-top: 2vh;
}

.Race{
  color:white;
  text-shadow: -1px 1px 5px black;
  padding-top: 1vh;
}

.race-title{
  text-align: center;
  color: white;
  text-shadow: -1px 1px 5px black;
  font-size: 10vw;
}

.Race p{
  font-style: italic;
}

.no-bullets{
  list-style-type: none;
}

.race-picture{
  display: block;
  margin: 0 auto;
  width: 100vw;
}

.race-picture-list{
  padding-top: 7vh;
  padding-left: 0;
}
ul img {
  padding-top: 5vh;
}

@media (min-width: 1024px){
  .home-title h1 {
    font-size: 8vw;
  }
  
  .home-title h3 {
    font-size: 3vw;
  }

  .race-picture{
    display: block;
    margin: 0 auto;
    width: 60vw;
  }

}
